name: Introspect subgraph name

on:
  workflow_call:
    outputs:
      name:
        description: "Name of the subgraph to check or publish"
        value: ${{ jobs.get_subgraph_name.outputs.name }}
jobs:
  get_subgraph_name:
    name: Introspect package.json to get subgraph name
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - id: get_subgraph_name 
        run: echo "name=$(cat package.json | grep "name" | cut -d':' -f 2 | cut -d'"' -f 2)" >> $GITHUB_OUTPUT
    outputs:
      name: ${{ steps.get_subgraph_name.outputs.name }}
